input[type="text"] {
	background: transparent;
	color: #feda77;
	padding: 1rem;
	border: 1px solid #8134af;
	box-shadow: 0.3rem 0.3rem 0rem -0.1rem rgba(0, 0, 0, 0.74);
	transition: all 200ms ease-in-out;
}
#log-out {
	position: absolute;
	top: 0;
	left: 0;
}
