#peeps-container {
	display: grid;
	width: 100%;
	grid-template:
		"head head" 10vh
		"nav main" 70vh
		"nav foot" 10vh
		/ 20% 80%;
	grid-gap: 1rem 0.5rem;
}
#peeps-container > header {
	grid-area: head;
	display: flex;
	justify-content: center;
}
#peeps-container > nav {
	grid-area: nav;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
#peeps-container > main {
	grid-area: main;
}
#peeps-container > footer {
	grid-area: foot;
}
#log-in-link,
#sign-up-link {
	text-decoration: none;
	background: #55acee;
	color: #fff;
	padding: 1rem;
	border-radius: 3rem;
	border: 1px solid #55acee;
	transform: scale(1);
	transition: all 200ms ease-in-out;
}
.links {
	padding: 30px;
}
